.sm-aboutme {
    width: 70%;
    height: 70%;
    padding-left: 100px;
}

.aboutme-text {
    text-align: center;
    font-family: sans-serif;
}

.aboutme-column {
    column-count: 2;
    -ms-text-kashida-space: ;
}

.text{
    font-size: large;
}


.text:hover{
animation: boxyRotation 3s infinite ;
}
@keyframes boxyRotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}