.lg-background {
    background: 2rem;
}




.card-title{
    font-family: sans-serif;
    cursor: pointer;
   
    
}

.cards:hover{
   
    border-radius: 20px;
    background-color: rgba(236, 183, 85, 0.349);
    transition-duration: 0.3s;
    transform: scale(0.9);
}
p{
    font-size: small;
    
}

