
 
.card-title {
  font-size: large;
  color: black ;
  font-weight: bold; 
  
} 

.card-project{
  cursor: pointer;
 flex-direction: row-reverse;
} 
.bg-project {
  background-image: url("../../assets/background1.jpg");
}